<section class="estudios" id="estudios">
    
    <div class="contenedor">
        <h3 class="titulo" >Estudios</h3>
        <li class="list-estyle" *ngFor="let educacion of educationList">
            <div class="estudio-contenedor"><!--estudio-->
                <div class="descripcion-estudio">
                    <h4 class="tit-est">{{educacion.title}}</h4>
                    <p class="des-est">{{educacion.resume}}</p>
                </div>
            </div>
            
        </li>
    </div>

</section>