<section class="trabajos" id="trabajos">
    <div class="contenedor">
        <h3 class="titulo" >Trabajos</h3>
        <div class="contenedor-trabajos">
            <li class="list-estyle" *ngFor="let trabajo of trabajos">
                <div class="trabajo">
                    <div class="thumb">
                         <img [src]="trabajo.img" alt="trabajo 1" >
                    </div>
                    <div class="desc-trabajo">
                        <p class="nombre-trab">{{trabajo.titulo}}</p>
                        <p class="categoria">{{trabajo.description}}</p>
                    </div>
                    <div class="edit">
                        <a href=""><i class="fa-solid fa-pencil"></i></a>
                    </div>
                </div>
            </li>
        </div>
        
    </div>

</section>