<app-header></app-header>
<!-- end header -->

<app-sobremi></app-sobremi>
<!--end sobre mi-->

<app-estudios></app-estudios>
<!--end estudios-->

<app-trabajos></app-trabajos>
<!--end trabajos-->

<app-contacto></app-contacto>
<!--end contacto-->

<app-footer></app-footer>
<!-- end footer -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/4a328e2eaa.js" crossorigin="anonymous"></script>