<header>
    <div class="contenedor">
        <nav class="nav-section" id="nav">
            <a href="#sobre-mi">Sobre mí</a>
            <a href="#estudios">Estudios</a>
            <a href="#trabajos">Trabajos</a>
            <a href="#contacto">Contacto</a>
        </nav>
        

        <div class="contenedor-textos">
            <div class="texto">
                <h1 class="nombre">Gabriel Esteban Riquieri Castro</h1>
                <h2 class="profesion">devportfolio</h2>
            </div>
        </div>
        <div class="edit">
            <a href=""><i class="fa-solid fa-pencil"></i></a>
        </div>
        
    </div>
</header>
<!-- end header -->

<section class="sobre-mi" id="sobre-mi">
    <div class="contenedor">
        <div class="foto">
            <img src="app/img/perfil.jpg" width="150" height="150"alt="Gabriel Esteban Riquieri">
        </div>
        <div class="texto">
            <h3 class="titulo">Sobre mi</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, minima voluptatibus dolorem eveniet sint ipsum explicabo voluptatem doloremque id facilis inventore praesentium cum vel reprehenderit aperiam exercitationem nam accusantium iste. Sed, dolorem facere labore fugiat laudantium voluptatem, recusandae, a debitis reiciendis sunt odit dolor error ea earum esse aliquid distinctio!</p>
        </div>
        <div class="edit">
            <a href=""><i class="fa-solid fa-pencil"></i></a>
        </div>
    </div>        
</section>
<!--end sobre mi-->

<section class="estudios" id="estudios">
    
    <div class="contenedor">
        <h3 class="titulo" >Estudios</h3>
        <div class="estudio-contenedor"><!--estudio-->
            <div class="descripcion-estudio">
                <h4 class="tit-est">Título</h4>
                <p class="des-est">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit libero, doloremque nostrum ea molestiae qui nam rem quasi maiores ipsam distinctio a vel laboriosam veritatis eum illum quae. Minima veniam, odio sed facere, vitae quisquam possimus voluptatum iure, officia porro neque exercitationem mollitia quam illo repellendus?</p>
            </div>
        </div>
        <div class="estudio-contenedor"><!--estudio-->
            <div class="descripcion-estudio">
                <h4 class="tit-est">Título mas largo</h4>
                <p class="des-est">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit libero, doloremque nostrum ea molestiae qui nam rem quasi maiores ipsam distinctio a vel laboriosam veritatis eum illum quae. Minima veniam, odio sed facere, vitae quisquam possimus voluptatum iure, officia porro neque exercitationem mollitia quam illo repellendus?</p>
            </div>
        </div>
        <div class="edit">
            <a href=""><i class="fa-solid fa-pencil"></i></a>
        </div>
    </div>

</section>
<!--end estudios-->

<section class="trabajos" id="trabajos">
    <div class="contenedor">
        <h3 class="titulo" >Trabajos</h3>
        <div class="contenedor-trabajos">
            <div class="trabajo">
                <div class="thumb">
                    <img src="img/trabajo1.jpg" alt="trabajo 1" >
                </div>
                <div class="desc-trabajo">
                    <p class="nombre-trab">Lorem ipsum dolor sit.</p>
                    <p class="categoria">HTML - CSS - JS</p>
                </div>
            </div>
            <div class="trabajo">
                <div class="thumb">
                    <img src="img/trabajo2.jpg" alt="trabajo 2">
                </div>
                <div class="desc-trabajo">
                    <p class="nombre-trab">Lorem ipsum dolor sit2.</p>
                    <p class="categoria">HTML - CSS - JS</p>
                </div>
            </div>
            <div class="trabajo">
                <div class="thumb">
                    <img src="img/trabajo3.jpg" alt="trabajo 3">
                </div>
                <div class="desc-trabajo">
                    <p class="nombre-trab">Lorem ipsum dolor sit3.</p>
                    <p class="categoria">HTML - CSS - JS</p>
                </div>
            </div>
        </div>
        <div class="edit">
            <a href=""><i class="fa-solid fa-pencil"></i></a>
        </div>
    </div>

</section>
<!--end trabajos-->

<section class="contacto" id="contacto">  
    <div class="contenedor">
        <h3 class="titulo">Contacto</h3>
        <form class="formulario" action="">
            <input type="text" placeholder="Nombre" name="nombre" required>
            <input type="email" placeholder="Correo" name="correo" required>
            <textarea name="mensaje" placeholder="Mensaje"></textarea>
            <input type="submit" class="boton" value="Enviar">

        </form>
        <div class="edit">
            <a href=""><i class="fa-solid fa-pencil"></i></a>
        </div>
    </div>
</section>
<!--end contacto-->

<footer>
    <div class="contenedor">
        <a class="facebook" href=""><i class="fa-brands fa-facebook-f"></i></a>
        <a class="instagram" href=""><i class="fa-brands fa-instagram"></i></a>
        <a class="gmail" href=""><i class="fa-solid fa-envelope"></i></a>
        <a class="to-nav" href="#nav"><i class="fa-solid fa-circle-chevron-up"></i></a>
    </div>

</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/4a328e2eaa.js" crossorigin="anonymous"></script>