<header>
    <div class="contenedor">
        <nav class="nav-section" id="nav">
            <a href="#sobre-mi">Sobre mí</a>
            <a href="#estudios">Estudios</a>
            <a href="#trabajos">Trabajos</a>
            <a href="#contacto">Contacto</a>
        </nav>
        

        <div class="contenedor-textos">
            <div class="texto">
                <h1 class="nombre">{{miPortfolio.name}}</h1>
                <h2 class="profesion">{{miPortfolio.subTitulo}}</h2>
            </div>
        </div>
        <div class="edit">
            <a href=""><i class="fa-solid fa-pencil"></i></a>
        </div>
        
    </div>
</header>